<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/documents.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>search results</title>
  <meta name="language" content="en-EN" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/main.css">
  <script src="https://kit.fontawesome.com/5f0d1ed04f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/auto.css">
  <script src="/static/autocomplete.js"></script>

</head>
<body>
  <header class="navbar navbar-expand sticky-top bg-primary navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/">DocKat</a>
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item px-2">
          <a class="nav-link active" href="../tags">Tags</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="../documents">Documents</a>
        </li>
      </ul>
    </div>
    <div class="form-group col-md-4">
      <input class="form-control rounded-0 py-2" type="search"  style="margin-bottom: -13px;" id="example-search-input">
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" href="../logout"> logout</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
          <a class="dropdown-item"> Share </a>
          <a class="dropdown-item"> Settings </a>
        </div>
      </li>
    </ul>
    
  </header>
  <div class="title" style="width: 80%;">Search results for "{{searchterm}}"</div>
<button class="btn mybtn" style="float: right;margin-right: 10px; margin-top: -40px;background-color: #007bff;color : white;" data-toggle="modal" data-target="#exampleModal">Filter Tags</button>
  
  <form>
  <div id="card"> </div>
</form>

 
     <script type="text/javascript">
let doce = "";

$(document).ready(function() {
$('#myModal').on('shown.bs.modal', function () {
        $(".current-position").hide();
        $("#helloe").attr('src', "/api/documents/prev/"+doce);

        });

    });




function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

function showpdf(doc_i){
 
doce = doc_i;
 

 
  
}




function downl(doc_i){
  window.open("/api/documents/download/"+doc_i,target="_blank")

}

function opn(doc_i){
  window.location.href = "/view/doc/"+doc_i;

}
var tags = []
async function getdocs(){
      repsonse =  await fetch("../api/search/"+"{{searchterm}}" ,{ method: "POST",headers: {
      'Content-Type': 'application/json'
     
    }, body: JSON.stringify({"tags":tags})});
      return await repsonse.json();
    }
    async function renderdocs(){
    let documents = await getdocs() ;
  
    var card = document.getElementById("card"),
        form = document.getElementsByTagName("form")[0],
        ContestantNum = documents["count"],
        i;
        form.textContent = '';
    for(i=0; i<ContestantNum; i++){
      let doccard = document.createElement("div");
      doccard.setAttribute("id","card");
    
      let dox = documents["results"][i];
      let imgtag = document.createElement("img");
      let doc_id = documents["results"][i]["doc_id"];
      imgtag.setAttribute("src","/api/documents/thumbnails/"+doc_id);
      imgtag.setAttribute("class","thumbnail");
      imgtag.setAttribute("number",i);
      doccard.appendChild(imgtag);
      let title_p = document.createElement("p");
      let doc_name = document.createTextNode(documents["results"][i]["doc_title"].substring(0, 18));
    
      title_p.appendChild(doc_name);
      title_p.setAttribute("class","title-text")
      doccard.append(title_p);
      let tdiv = document.createElement("div");
      tdiv.setAttribute("class","tdiv");
      let kl = Math.min(dox["tags"].length,3);
      for(ji = 0;ji<kl;ji++){
      let spe = document.createElement("span");
      spe.setAttribute("class","spe");

      spe.setAttribute("style",'background-color : '+dox["tags"][ji]["tag_color"]+'');
      spe.innerHTML=dox["tags"][ji]["tag_name"];
      tdiv.append(spe);

      }

  
      doccard.append(tdiv);




      let box2 = document.createElement("div");
      box2.setAttribute("id","box2");
      box2.setAttribute("doc_id",doc_id)
      box2.innerHTML='<button id="button1"><i class="fa fa-thin fa-pencil"></i></button><button id="button2"><i class="fa fa-thin fa-eye"></i></button><button id="button3"><i class="fa fa-thin fa-arrow-down-long"></i></button>';
      let but3 = box2.children[2];
      but3.setAttribute("onclick",'event.preventDefault(); downl("'+doc_id+'");');
      doccard.appendChild(box2)
      let but2 = box2.children[1];
      but2.setAttribute("data-toggle","modal");
      but2.setAttribute("data-target","#myModal");
      but2.setAttribute("onclick",'event.preventDefault(); showpdf("'+doc_id+'");');
      let but1=box2.children[0];
      but1.setAttribute("onclick",'event.preventDefault(); opn("'+doc_id+'");');

      
      form.appendChild(doccard);


    }

    }
    renderdocs();
    
  </script>
   </script>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
   integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
   crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
   integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
   crossorigin="anonymous"></script>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
 <script src="static/main.js"></script>
 <script src="static/chart.js"></script>



     <!-- Modal -->
     <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                 
              </div>
              <div class="modal-body">

                  <embed src="/dummy" id="helloe" frameborder="0" width="100%" height="700px">

                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>

          </div>
      </div>
  </div>





<!--MODAL-->



  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter result based on tags</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <input  id="tagfilter"><button class="btn" style="margin-left: 10px;" onclick="event.preventDefault(); addte();">Add +</button>

        <div id="tagsgohereman" style="margin-top: 5px;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="event.preventDefault(); renderdocs();">Search</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>






<script>

  var tnames = {{tnames | tojson}};
  var tlist = {{tlist | tojson}};
  autocomplete(document.getElementById("tagfilter"), tnames);



function addte(){
var vt = document.getElementById("tagfilter").value;
if(tags.includes(vt)){
  return;
}
if(!tnames.includes(vt)){
  return;
}
var color = '';
for(i=0;i<tlist.length;i++){
  if(tlist[i]["tag_name"]==vt){
    color = tlist[i]["tag_color"];
    break;
  }

}

tags.push(vt);
  var spne = document.createElement("span");
  spne.innerHTML=vt + ' <i class="fa-solid fa-xmark"></i>';
  spne.setAttribute("style",'background-color :'+color+';padding : 5px;cursor :pointer;');
  spne.setAttribute('id',vt);
  spne.setAttribute("onclick","rmtg('"+vt+"')")
  document.getElementById("tagsgohereman").appendChild(spne);


}


function rmtg(torm){
  document.getElementById(torm).remove();
  ttt = [];
for(i=0;i<tags.length;i++){
  if(!(tags[i]==torm)){
    ttt.push(tags[i]);
  }

}
tags = ttt;

}

var input = document.getElementById("example-search-input");

input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
   st = input.value;
   location.href = '../ser/'+st;
  }
}); 
</script>


</body></html>